/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ligneeheros implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ligneeheros.css
 *
 * ligneeheros stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ligneeheros_ligneeheros.tpl), and to HTML elements you create dynamically
    (in ligneeheros.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

html, body {
    font-size: 15px;
}

/********* Cartridge **********/
#cartridge {
    margin: 0 auto .5em;
    background: url('img/card-bg.jpg') 0 0 no-repeat;
    background-size: 200% 100%;
    padding: 0.5em 1em;
    box-shadow: 0 3px 8px rgba(0,0,0,.3);
}
h2#turn {
    text-align: center;
    font-size: 1.25em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2#turn::before {
    display: block;
    content: '';
    background: url("img/icons.svg") 90% 0% no-repeat;
    background-size: 1100% 600%;
    height: 1em;
    aspect-ratio: 1;
    margin-right: .5em;
}
#cartridge > div {
    line-height: 2em;
}
#people-people::after, #people-worker::after, #people-warrior::after, #people-savant::after, #people-mage::after,
#harvest-food::after, #harvest-science::after, #stock-food::after, #stock-science::after,
#stock-wood::after, #stock-animal::after, #stock-gem::after, #stock-paper::after, #stock-metal::after, #stock-stone::after, #stock-clay::after, #stock-medic::after {
    content: attr(data-count);
    font-weight: bold;
}
#cartridge svg {margin-right: .5em;}

#cartridge .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#people-people {
    flex-grow: 1;
    margin-left: 1em;
}
#cartridge .people-types,
#cartridge .harvest, #cartridge .stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#cartridge .harvest > div:first-child, #cartridge .stock > div:first-child {
    width: 30%;
}

#cartridge .stock-resources .group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#cartridge .people > div,
#cartridge .people-types > div,
#cartridge .harvest > div,
#cartridge .stock > div:not(.stock-resources),
#cartridge .stock-resources .group > div {
    display: flex;
    align-items: center;
    min-width: 3em;
}
#stock-food::before {background-position: 40% 100%;}
#stock-science::before {background-position: 50% 100%;}

#stock-wood::before {background-position: 0% 60%;}
#stock-animal::before {background-position: 10% 60%;}
#stock-stone::before {background-position: 50% 60%;}
#stock-metal::before {background-position: 40% 60%;}
#stock-clay::before {background-position: 60% 60%;}
#stock-paper::before {background-position: 30% 60%;}
#stock-medic::before {background-position: 70% 60%;}
#stock-gem::before {background-position: 20% 60%;}

/********* Card zones **********/
#cards-zone > div {
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#floating-cards {
    position: absolute;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    max-width: 65em;
    left: 50%;
    transform: translateX(-50%);
}
#floating-cards:empty {display: none;}
#cards-zone .card.large, #floating-cards .card.large {
    width: 15em;
    margin-bottom: .5em;
}
#cards-zone .card.onTable {

}
#cards-zone .card.hand {

}
#cards-zone .card {
    margin-bottom: 1em;
}
#floating-cards .card,
#cards-zone .card:not(:last-child) {
    margin-right: 1em;
}

/********* Cards **********/
#deck-zone {
    text-align: center;
    margin: 1em auto;
}

.card.disabled {display: none;}
.card.inactive {cursor: not-allowed;}
.card.selected {
    box-shadow: 10px 5px 5px #00008b82;
}

.deck-list .card {
    display: inline-block;
    width: 15%;
    max-width: 250px;
}
.card.magic {}
.card.end_turn {float: right;}

.deck-list .card.invention {margin-right: 2em;}
.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_list li {
    width: 15%;
    max-width: 250px;
}
.counter {
    content: attr(data-count);
    position: absolute;
    font-weight: 700;
    height: 1em;
    width: 2em;
    bottom: 5%;
    right: 8%;
    font-size: 1rem;
    color: #eee;
    text-align: right;
    z-index: 1;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.card {
    position: relative;
    width: 10em;
    aspect-ratio: 7/11;
    border-radius: .5em;
}
.card.verso {
    background-color: #000;
}
.card.recto {
    background-color: #fff;
    padding: .1%;
    border: 1px solid #000;
}
.card .content {
    background: url(img/card-bg.jpg) 100.5% 0 no-repeat;
    background-size: 200% 100%;
    width: 94%;
    height: 96%;
    box-sizing: border-box;
    margin: 3%;
    padding-top: 5%;
}
.card.recto .content {
    background-position: 0 0;
    background-size: 200% 100%;
    padding-top: 0;
}
.card.verso .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card.lineage.verso .content::before {
    content: "";
    width: 95%;
    height: 30%;
    background: url("img/card-title.png") 0 5% no-repeat;
    background-size: 100% 130%;
}
.card.verso .content .inner {
    position: relative;
    width: 90%;
    height: 95%;
    box-sizing: border-box;
    margin: auto;
    background-color: #f0e094;
    border: 1px solid #c29253;
    border-radius: 50%;
    box-shadow: #c29253 0 0 2em;
}
.card.lineage.verso .content .inner {
    width: 80%;
    height: 65%;
    margin: 0 auto;
}
.card.verso .content .inner > div {
    display: none;
}
.card.recto .content .inner {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
.card .text {
    border: 1px solid #c29253;
    background-color: #f5ebb8;
    padding: 1% 2.5%;
    text-align: left;
}
.card .text .double {
    height: 100%;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.card .text .double svg:nth-child(2) {
    height: 50%;
    width: inherit;
}

.card .text.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 9.8%;
    margin-bottom: 1%;
}
.card .header .card-icon {
    width: 16%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon .head-icon {
    width: 90%;
    height: 90%;
}
.card-icon svg {
    width: 100%;
    height: 100%;
}
.card .cost {
    width: 16%;
    border-radius: 50%;
    font-weight: bold;
    font-size: .9em;
    margin-right: 1%;
    padding: 0;
    position: relative;
}
.card .cost svg {
    position: absolute;
    top: .25em;
    left: .35em;
    width: 1em;
    height: 1em;
    fill-opacity: .5;
}
.card .cost:empty {display: none}

.card .title {
    font-weight: bold;
    flex-grow: 1;
    overflow: hidden;
}

.card.objective_509 .title
{font-size: .95em;}
.card.objective_504 .title,
.card.objective_507 .title
    {font-size: .85em;}
.card.objective_505 .title
{font-size: .65em;}
.card.objective_510 .info,
.card.objective_509 .info
{font-size: 0.6em;}

.card.invention .title
{font-size: .9em;}
.card.invention_101 .title,
.card.invention_113 .title,
.card.invention_128 .title
{font-size: .8em;}
.card.invention_121 .title,
.card.invention_136 .title
{font-size: .6em;}

.card.spell_621 .title,
.card.spell_612 .title
{font-size: .9em;}
.card.spell_624 .title
{font-size: .85em;}
.card.spell_617 .title
{font-size: .8em;}

.card .type {
    text-align: left;
    font-size: .7em;
    font-style: italic;
    height: 4.5%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}
.card .type svg {
    width: 1em;
    height: 1em;
}
.card .type:empty {display: none}

.card .needs {
    position: relative;
    border-top-left-radius: 5% 21%;
    border-top-right-radius: 5% 21%;
    border-bottom-left-radius: 5% 21%;
    border-bottom-right-radius: 5% 21%;
    margin-bottom: 1%;
    height: 9.8%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 17%;
}
.card .needs::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 80%;
    background: url(img/icons.svg) 90% 0% no-repeat;
    background-size: 1100% 600%;
    opacity: 0.2;
    left: 3%;
    top: 10%;
}
.card .needs:empty {display: none}
.card .gain {
    position: relative;
    border-top-left-radius: 5% 21%;
    border-top-right-radius: 5% 21%;
    border-bottom-left-radius: 5% 21%;
    border-bottom-right-radius: 5% 21%;
    height: 9.8%;
    margin-bottom: 1%;
    padding: 1% 1% 1% 20%;
}
.card .gain div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card .gain.gain_or,
.card .gain.gain_and {
    height: 22%;
    flex-direction: column;
    padding-right: 10%;
}
.card .gain.gain_or::after,
.card .gain.gain_and::after {
    content: "+";
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #c29253;
    border-radius: 1em;
    text-align: center;
    font-size: .7em;
    font-weight: bold;
    padding: .2em;
}
.card .gain.gain_or::after {
    content: "/";
}
.card .gain:not(:empty)::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 80%;
    background: url(img/icons.svg) 50% 20% no-repeat;
    background-size: 1100% 600%;
    opacity: 0.2;
    left: 2%;
    top: 10%;
}
.card .gain.gain_or::before,
.card .gain.gain_and::before {
    top: 32%;
    height: 38%;
}
.card .gain.empty {display: none;}

.card:not(.lineage) .ldh_meeple {display: none;}
.card:not(.lineage) .ldh-leading {display: none;}

.card .ldh_meeple {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "power bonus" "objective bonus";
    grid-gap: 4% 1%;
    height: 18.6%;
}
.card .ldh_meeple::after {
    content: "";
    position: absolute;
    height : 0;
    width : 0;
    border-top : 2.2em solid transparent;
    border-bottom : 2.2em solid transparent;
    border-left : .6em solid #c29253;
    right: 28%;
    top: 11%;
}
.card.lineage {
    cursor: pointer;
}
.head-icon svg {height: 100%; width: 1.5em;}
.card.lineage .ldh-power {
    grid-area: power;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
    padding-left: 20%;
    border-right: 0;
}
.card.lineage .ldh-power .head-icon {
    position: absolute;
    left: .4em;
}

.card.lineage .ldh-objective {
    grid-area: objective;
    display: flex;
    align-items: center;
    overflow-y: auto;
    justify-content: space-evenly;
    padding-left: 20%;
    border-right: 0;
}
.card.lineage .ldh-objective .head-icon {
    position: absolute;
    margin-right: 2%;
    left: .4em;
}
.card.lineage .ldh-bonus {
    grid-area: bonus;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    border-left: 0;
}
.card.lineage .ldh-bonus .icon {
    height: 50%;
}
.card.lineage .ldh-leading {
    height: 7.3%;
    margin: 2% 0 1%;
    display: flex;
    align-items: center;
    overflow-y: auto;
    position: relative;
    justify-content: space-evenly;
    padding-left: 15%;
}
.card.lineage .ldh-leading .head-icon {
    position: absolute;
    margin-right: 2%;
    left: .2em;
}
.card.lineage .ldh-leading span {
    position: relative;
    aspect-ratio: 1;
    margin-right: 6%;
}
.card.lineage .ldh-leading span svg {
    width: 1.25em;
    height: 1.25em;
}
.card.lineage .ldh-leading.end_turn span::after {
    position: absolute;
    content: "/3";
    margin-left: -.2em;
    margin-top: .65em;
    font-size: .9em;
}
.card.lineage .ldh-leading.fight span {
    margin-right: 8%;
}
.card.lineage .ldh-leading.fight span::after {
    content: "x1";
    margin-left: 0;
    margin-top: .6em;
    position: absolute;
    font-size: .9em;
}

.card .graph {
    height: 32.25%;
    background: url("img/graphs.jpg") 0 0 no-repeat;
    background-size: 1010% 101%;
    margin-bottom: 1%;
}

/* Graphs for card list  */
.card.explore_disease .graph {background-position: 22.2% 0%;}

.card.stock .graph {background-position: 11.1% 0%;}
.card.invention_111 .graph {background-position: 55.5% 0%;}
.card.invention_110 .graph {background-position: 22.2% 0%;}
.card.hut .graph {background-position: 44.4% 0%;}
.card.center .graph {background-position: 66.6% 0%;}
.card.invention_101 .graph {background-position: 0% 0%;}
.card.invention_108 .graph {background-position: 33.3% 0%;}
.card.talus .graph {background-position: 77.7% 0%;}
.card.invention_138 .graph {background-position: 88.8% 0%;}
.card.invention_105 .graph {background-position: 100% 0%;}

.card .info {
    flex-grow: 1;
    font-style: italic;
    font-size: .8em;
    overflow-y: auto;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-indent: 1em;
}
.card.invention .info {
    text-indent: inherit;
}
.card.objective .info {
    font-style: normal;
}
.card .info .bold {
    text-align: center;
    font-weight: bold;
}
.card .info > div:not(.bold) {
}
.card .info .text_as_icon {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card.objective .info > div:not(.bold) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
}
.card .info:empty {display: none}
.card .footer {
    height: 7%;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}
.card .footer .artist {
    flex-grow: 1;
    text-align: left;
    font-size: .9em;
}
.card .footer .design, .card .footer .ldh {
    width: 1.5em;
    height: 1.5em;
}
.card .footer .ldh {
    background: url("img/card-title.png") 6.5% 98% no-repeat;
    background-size: 1000% 620%;
}
.card.verso .inner::before {
    position: absolute;
    content: "";
    background: url(img/card-sprites.svg) 0 0 no-repeat;
    background-size: 700% 280%;
    width: 90%;
    aspect-ratio: 1;
    top: 20%;
    left: 5%;
}
.card.verso.invention .inner::before {
    background-size: 610% 240%;
    background-position: 32.5% 100%;
    top: 20%;
}
.card.verso.explore_fight .inner::before {
    background-size: 610% 240%;
    background-position: 87.5% 100%;
    top: 20%;
}
.card.verso.explore_other .inner::before {
    background-size: 610% 240%;
    background-position: 32.3% 0;
    top: 20%;
}
.card.verso.explore_disease .inner::before {
    background-size: 610% 240%;
    background-position: 87.5% 0;
    top: 15%;
}
.card.verso.spell .inner::before {
    background-size: 610% 240%;
    background-position: 60% 100%;
    top: 20%;
}
.card.verso.lineage .inner::before {
    background-size: 525% 200%;
    background-position: 0 0;
    aspect-ratio: 0.9;
    top: 22%;
}
.card.verso.objective .inner::before {
    background-size: 640% 260%;
    background-position: 60.3% 0;
    top: 20%;
}

#city-zone {

}

/******** Icons *********/
svg.svg-icon {
    width: 1.5em;
    height: 1.5em;
}
#liquid {fill: #2f73b8;}
#colorWarrior {fill: #ed0000;}
#colorWhite {fill: #fff;}
#lines {fill: #010101;}
#wheat {fill: #d49616;}
#unit.warrior #type polygon {fill: #ed0000;}
#unit.worker #type polygon {fill: #179538;}
#unit.savant #type polygon {fill: #234295;}
#unit.mage #type polygon {fill: #f0d904;}
#unit.monster #type polygon {fill: #222;}
#unit #acted {display: none;}
#unit #moved {display: none;}
#unit.moved #moved {display: initial;}
#unit.acted #acted {display: initial;}
#stroke-rnd {
    stroke-linecap: round;
    stroke-linejoin: round;
}
.icon {
    display: inline-block;
    background: url("img/icons.svg") 0 0 no-repeat;
    background-size: 1100% 600%;
    height: 90%;
    aspect-ratio: 1;
}
.icon.large {
    width: 36px;
    height: 36px;
}
.icon.small {
    width: 16px;
    height: 16px;
}
.icon.cube.warrior {background-position: 0 0;}
.icon.cube.worker {background-position: 10% 0;}
.icon.cube.mage {background-position: 20% 0;}
.icon.cube.savant {background-position: 30% 0;}
.icon.cube.all {background-position: 40% 0;}
.icon.cube.monster {background-position: 50% 0;}

.icon.cube.elven_mage {background-position: 40% 80%;}
.icon.cube.elven_savant {background-position: 50% 80%;}
.icon.cube.nani_warrior {background-position: 90% 80%;}
.icon.cube.nani_savant {background-position: 80% 80%;}
.icon.cube.humani_mage {background-position: 60% 80%;}
.icon.cube.humani_worker {background-position: 70% 80%;}
.icon.cube.ork_warrior {background-position: 30% 80%;}
.icon.cube.ork_worker {background-position: 20% 80%;}

.icon.cube.warrior.moved {background-position: 0 20%;}
.icon.cube.worker.moved {background-position: 10% 20%;}
.icon.cube.mage.moved {background-position: 20% 20%;}
.icon.cube.savant.moved {background-position: 30% 20%;}

.icon.cube.warrior.acted {background-position: 0 40%;}
.icon.cube.worker.acted {background-position: 10% 40%;}
.icon.cube.mage.acted {background-position: 20% 40%;}
.icon.cube.savant.acted {background-position: 30% 40%;}

.icon.cube.explore {background-position: 40% 40%;}
.icon.cube.objective {background-position: 50% 40%;}
.icon.cube.spell {background-position: 60% 40%;}
.icon.cube.invention {background-position: 70% 40%;}
.icon.cube.end_turn {background-position: 80% 0;}

.icon.cube.fight {background-position: 40% 20%;}
.icon.cube.other {background-position: 50% 20%;}
.icon.cube.disease {background-position: 60% 20%;}
.icon.cube.nature {background-position: 70% 20%;}
.icon.cube.healing {background-position: 40% 20%;}
.icon.cube.foresight {background-position: 40% 20%;}
.icon.cube.enchant {background-position: 40% 20%;}

.icon.cube.city {background-position: 60% 0;}
.icon.cube.lineage {background-position: 90% 40%;}
.icon.cube.lead {background-position: 70% 0;}
.icon.cube.generate {background-position: 80% 0;}
.icon.cube.turn {background-position: 90% 0;}

.icon.cube.food {background-position: 80% 20%;}
.icon.cube.science {background-position: 90% 20%;}
.icon.cube.wood {background-position: 0% 60%;}
.icon.cube.gem {background-position: 20% 60%;}
.icon.cube.paper {background-position: 30% 60%;}
.icon.cube.metal {background-position: 40% 60%;}
.icon.cube.stone {background-position: 50% 60%;}
.icon.cube.animal {background-position: 10% 60%;}
.icon.cube.clay {background-position: 60% 60%;}
.icon.cube.medic {background-position: 70% 60%;}

.icon.cube.food_stock {background-position: 40% 100%;}
.icon.cube.science_stock {background-position: 50% 100%;}
.icon.cube.growth {background-position: 80% 60%;}
.icon.cube.power {background-position: 90% 60%;}
.icon.cube.defense_city {background-position: 0% 80%;}
.icon.cube.defense_warrior {background-position: 10% 80%;}

.icon.cube.draw {background-position: 30% 100%;}
.icon.cube.undraw {background-position: 60% 100%;}
.icon.cube.dice_fight {background-position: 0% 100%;}
.icon.cube.dice_growth {background-position: 10% 100%;}
.icon.cube.dice_explore {background-position: 20% 100%;}

/********* Buttons **********/
#page-title .action-button.hidden {display: none;}

/********* MAP **********/
#map-zone {
    width: 85%;
    min-width: 320px;
    margin: -13% 4% 0;
    transform: rotate(90deg);
}

.map-hex-grid {
    --amount: 7;
    --counter: 1
}

.map-hex-grid {
    position: relative;
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount),1fr 2fr) 1fr;
}
.map-hex-item {
    position: relative;
    height: 0;
    padding-bottom: 90%;
    grid-column: 1/span 3;
    grid-row: calc(var(--counter) + var(--counter))/span 2;
    -webkit-filter: drop-shadow(0 0 3px rgba(68,68,68,.08));
    filter: drop-shadow(0 0 0.1em rgba(68,68,68,.08));
    margin: 0.1em 0.1em;
}
.map-hex-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,25% 100%,0 50%,25% 0);
    clip-path: polygon(75% 0,100% 50%,75% 100%,25% 100%,0 50%,25% 0);
    text-decoration: none;
    text-align: center;
    transition: transform .24s ease-out;
}

.map-hex-item:nth-of-type(7n+1) {
    grid-column: 1/span 3;
}
.map-hex-item:nth-of-type(7n+2) {
    grid-column: 3/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}
.map-hex-item:nth-of-type(7n+3) {
    grid-column: 5/span 3;
}
.map-hex-item:nth-of-type(7n+4) {
    grid-column: 7/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}
.map-hex-item:nth-of-type(7n+5) {
    grid-column: 9/span 3;
}
.map-hex-item:nth-of-type(7n+6) {
    grid-column: 11/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}
.map-hex-item:nth-of-type(7n+7) {
    grid-column: 13/span 3;
}

.map-hex-item:nth-of-type(n+8) {
    --counter: 2
}
.map-hex-item:nth-of-type(n+15) {
    --counter: 3
}
.map-hex-item:nth-of-type(n+22) {
    --counter: 4
}
.map-hex-item:nth-of-type(n+29) {
    --counter: 5
}
.map-hex-item:nth-of-type(n+36) {
    --counter: 6
}
.map-hex-item:nth-of-type(n+43) {
    --counter: 7
}

.tile {
    background: url('img/card-bg.jpg') 0 0 no-repeat;
    background-size: 200% 100%;
    cursor: not-allowed;
}
.tile::before {
    content: "";
    background: url("img/icons.svg") 40% 40% no-repeat;
    background-size: 1100% 600%;
    width: 65%;
    aspect-ratio: 1;
}

.tile.tile_reveal {background: none;}
.tile.tile_reveal::before {display: none;}

.tile.explorable {
    cursor: pointer;
}
.tile.tile_reveal .map-dist-bg {display: none;}
.tile .map-content {display: none;}
.tile.tile_reveal .map-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    margin-left: -10%;
}
.tile.tile_disabled {display: none;}

.tile.tile_reveal .resources {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding-top: 2%;
    flex-wrap: wrap;
}
.tile .resources.resources_0 .resource-1 {display: none}
.tile .resources.resources_0 .resource-2 {display: none}
.tile .resources.resources_0 .resource-3 {display: none}
.tile .resources.resources_1 {margin-top: -5%;}
.tile .resources.resources_1 .resource-2 {display: none}
.tile .resources.resources_1 .resource-3 {display: none}
.tile .resources.resources_2 {margin-top: 0%;}
.tile .resources.resources_2 .resource-3 {display: none}
.tile .resource {
    background: url("img/icons.svg") 0 0 no-repeat #FFF;
    background-size: 1100% 600%;
    height: 32.5%;
    aspect-ratio: 1;
    border: 1px solid #000;
}
.tile .resource-2, .tile .resource-3 {margin-left: 3%;}
.tile .resources.resources_3 {margin-top: 4%;}
.tile .resources.resources_3 .resource-2 {margin-left: 3%; margin-top: -15%;}

.tile .resource.food {background-position: 80% 20%;}
.tile .resource.science {background-position: 90% 20%;}
.tile .resources .resource.wood {background-position: 0% 60%;}
.tile .resources .resource.gem {background-position: 20% 60%;}
.tile .resources .resource.paper {background-position: 30% 60%;}
.tile .resources .resource.metal {background-position: 40% 60%;}
.tile .resources .resource.stone {background-position: 50% 60%;}
.tile .resources .resource.animal {background-position: 10% 60%;}
.tile .resources .resource.clay {background-position: 60% 60%;}
.tile .resources .resource.medic {background-position: 70% 60%;}

.tile.tile_reveal .name {
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 .5em;
}
.tile .harvest {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.tile.tile_reveal .food {
    height: 65%;
    position: relative;
}
.tile.tile_reveal .food::after {
    position: absolute;
    z-index: 1;
    content: attr(data-count);
    font-size: 0.6rem;
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 50%;
    bottom: -25%;
    right: -25%;
    text-align: center;
    line-height: 150%;
}
.tile.tile_reveal .science {
    height: 65%;
    margin-left: 5%;
}
.tile.tile_reveal .food.none {display: none}
.tile.tile_reveal .science.none {display: none}

.tile.tile_reveal.tile_town_humani {background-color: antiquewhite;}
.tile.tile_reveal.tile_town_elven {background-color: antiquewhite;}
.tile.tile_reveal.tile_town_nani {background-color: antiquewhite;}
.tile.tile_reveal.tile_town_ork {background-color: antiquewhite;}

.tile.tile_reveal.tile_mountain {background-color: dimgray;}
.tile.tile_reveal.tile_mountain_lair {background-color: dimgray;}
.tile.tile_reveal.tile_mountain_lake {background-color: dimgray;}
.tile.tile_reveal.tile_mountain_wood {background-color: dimgray;}
.tile.tile_reveal.tile_mountain_tower {background-color: dimgray;}
.tile.tile_reveal.tile_mountain_river {background-color: dimgray;}
.tile.tile_reveal.tile_plain {background-color: lightgreen;}
.tile.tile_reveal.tile_plain_lake {background-color: lightgreen;}
.tile.tile_reveal.tile_plain_wood {background-color: lightgreen;}
.tile.tile_reveal.tile_plain_desert {background-color: lightgreen;}
.tile.tile_reveal.tile_plain_river_ruin {background-color: lightgreen;}
.tile.tile_reveal.tile_hill {background-color: saddlebrown;}
.tile.tile_reveal.tile_hill_plateau {background-color: saddlebrown;}
.tile.tile_reveal.tile_hill_wood_river {background-color: saddlebrown;}
.tile.tile_reveal.tile_hill_ruin {background-color: saddlebrown;}
.tile.tile_reveal.tile_hill_lake {background-color: saddlebrown;}
.tile.tile_reveal.tile_hill_wood_lair {background-color: saddlebrown;}
.tile.tile_reveal.tile_swamp {background-color: darkolivegreen;}
.tile.tile_reveal.tile_swamp_lair {background-color: darkolivegreen;}
.tile.tile_reveal.tile_swamp_tower {background-color: darkolivegreen;}
.tile.tile_reveal.tile_forest {background-color: darkgreen;}
.tile.tile_reveal.tile_forest_tower {background-color: darkgreen;}
.tile.tile_reveal.tile_forest_lair {background-color: darkgreen;}
.tile.tile_reveal.tile_forest_dense {background-color: darkgreen;}
.tile.tile_reveal.tile_forest_ruin {background-color: darkgreen;}
.tile.tile_reveal.tile_desert {background-color: sandybrown;}
.tile.tile_reveal.tile_desert_stone {background-color: sandybrown;}

.tile .map-dist-bg {
    position: absolute;
    top: 45%;
    left: 0.6em;
    width: 10%;
    height: 10%;
    background: #f0e094;
    transform: rotate(-135deg);
}
.tile .map-dist-bg label {
    display: inline-block;
    font-size: .75vw;
    color: #333;
    transform: rotate(45deg);
}
.tile .map-dist-bg label::before {
    content: attr(data-dist);
}

@media all and (max-width: 360px) {
    #map-zone {
        font-size: 1em;
    }

    #map-zone .tile .name {
        font-size: .5em;
    }
}

@media all and (max-width: 720px) and (max-width: 720px) {
    .card {
    }

    #map-zone {
        width: 86%;
        margin-left: 3.5%;
        font-size: 1em;
    }

    #map-zone .tile .name {
        font-size: .6em;
    }

    .map-hex-item {
        margin: 0.01em 0.01em;
    }
}

@media all and (min-width: 721px) and (max-width: 1100px) {
    #map-zone {
        width: 86%;
        margin-left: 3.5%;
        font-size: 1em;
    }
    #map-zone .tile .name {
        font-size: .7em;
    }
}

@media all and (min-width: 1101px) and (max-width: 1450px) {
    #map-zone .tile .name {
        font-size: .9em;
    }
}

@media all and (min-width: 1451px) {
}

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




