/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ligneeheros implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ligneeheros.css
 *
 * ligneeheros stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ligneeheros_ligneeheros.tpl), and to HTML elements you create dynamically
    (in ligneeheros.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/********* Cards **********/
#deck-zone {
    text-align: center;
    margin: 1em auto;
}

.card.disabled {display: none;}
.card.inactive {cursor: not-allowed;}

.deck-list .card {
    display: inline-block;
    width: 15%;
}
.deck-list .card.lineage {
    display: none;
}
.deck-list .card.objective {
    display: none;
}
.card.magic {}
.card.end_turn {float: right;}

.deck-list .card.invention {margin-right: 2em;}
.card_list .large {
    width: 20%;
}
.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_list li {
    width: 15%;
}
.counter {
    content: attr(data-count);
    position: absolute;
    font-weight: 700;
    height: 1em;
    width: 2em;
    bottom: 5%;
    right: 8%;
    font-size: 1rem;
    color: #eee;
    text-align: right;
    z-index: 1;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.card {
    position: relative;
    aspect-ratio: 7/11;
    border-top-left-radius: 6% 3.8%;
    border-top-right-radius: 6% 3.8%;
    border-bottom-left-radius: 6% 3.8%;
    border-bottom-right-radius: 6% 3.8%;
    font-size: .7em;
}
.card.verso {
    background-color: #000;
}
.card.recto {
    background-color: #fff;
    padding: .1%;
    border: 1px solid #000;
}
.card .content {
    background: url(img/card-sprites.png) 0 0 no-repeat;
    width: 94%;
    height: 96%;
    background-size: 640% 135%;
    box-sizing: border-box;
    margin: 3%;
    padding-top: 5%;
}
.card.verso .content {
    background-position: 100% 0%;
}
.card.recto .content {
    background-position: 81% 0%;
    background-size: 655% 135.4%;
    padding-top: 0;
}
.card.verso .content .inner {
    position: relative;
    width: 90%;
    height: 95%;
    box-sizing: border-box;
    margin: auto;
    background-color: #f0e094;
    border: 1px solid #c29253;
    border-radius: 50%;
    box-shadow: #c29253 0 0 2em;
}
.card.verso .content .inner > div {
    display: none;
}
.card.recto .content .inner {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
.card.recto .content .inner::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11%;
    height: 7%;
    background: url("img/card-sprites.png") 90.3% 80% no-repeat;
    background-size: 4200% 2100%;
}
.card .text {
    border: 1px solid #c29253;
    background-color: #f5ebb8;
    padding: 1% 2.5%;
    text-align: left;
}
.card .text.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 9.8%;
    margin-bottom: 1%;
}
.card .header .card-icon {
    width: 16%;
    margin-right: 1%;
}
.card-icon .icon {
    width: 90%;
    height: 90%;
}
.card .cost {
    width: 16%;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 1%;
    padding: 0;
}
.card .cost:empty {display: none}

.card .title {
    font-weight: bold;
    flex-grow: 1;
    overflow: hidden;
}

.card .type {
    position: relative;
    text-align: left;
    padding-left: 11%;
    font-size: .7em;
    font-weight: bold;
    height: 4.5%;
    margin-bottom: 1%;
}
.card .type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: 100%;
    background: url("img/icons.png") 0 0 no-repeat;
    background-size: 1100% 600%;
}
.card .type.development::before {background-position: 60% 0%;}
.card .type.nature::before {background-position: 70% 20%;}
.card .type.healing::before {background-position: 0% 0%;}
.card .type.fight::before {background-position: 40% 20%;}
.card .type.science::before {background-position: 90% 20%;}
.card .type.growth::before {background-position: 80% 60%;}
.card .type.enchant::before {background-position: 0% 0%;}
.card .type.magic::before {background-position: 60% 40%;}
.card .type.foresight::before {background-position: 0% 0%;}
.card .type:empty {display: none}

.card .needs {
    position: relative;
    border-top-left-radius: 5% 21%;
    border-top-right-radius: 5% 21%;
    border-bottom-left-radius: 5% 21%;
    border-bottom-right-radius: 5% 21%;
    margin-bottom: 1%;
    height: 9.8%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .needs::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 80%;
    background: url(img/icons.png) 90% 0% no-repeat;
    background-size: 1100% 600%;
    opacity: 0.2;
    left: 2.5%;
    top: 10%;
}
.card .needs:empty {display: none}
.card .gain {
    position: relative;
    border-top-left-radius: 5% 21%;
    border-top-right-radius: 5% 21%;
    border-bottom-left-radius: 5% 21%;
    border-bottom-right-radius: 5% 21%;
    height: 9.8%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .gain::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 80%;
    background: url(img/icons.png) 50% 20% no-repeat;
    background-size: 1100% 600%;
    opacity: 0.2;
    left: 2.5%;
    top: 10%;
}
.card .gain:empty {display: none}

.card:not(.lineage) .ldh_meeple {display: none;}
.card:not(.lineage) .leading {display: none;}

.card .ldh_meeple {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "power bonus" "objective bonus";
    grid-gap: 4% 1%;
    height: 18.6%;
}
.card.lineage .power {
    grid-area: power;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17%;
    position: relative;
}
.card.lineage .power::before {
    content: "";
    position: absolute;
    background: url('img/icons.png') 0 0 no-repeat;
    background-size: 1100% 600%;
    width: 13%;
    height: 60%;
    top: 20%;
    left: 2%;
}
.card.lineage.lineage_elven_mage .power::before {background-position: 40% 80.1%;}
.card.lineage.lineage_elven_savant .power::before {background-position: 50% 80%;}
.card.lineage.lineage_nani_warrior .power::before {background-position: 90% 80%;}
.card.lineage.lineage_nani_savant .power::before {background-position: 80% 80%;}
.card.lineage.lineage_humani_mage .power::before {background-position: 60% 80%;}
.card.lineage.lineage_humani_worker .power::before {background-position: 70% 80%;}
.card.lineage.lineage_ork_warrior .power::before {background-position: 30% 80%;}
.card.lineage.lineage_ork_worker .power::before {background-position: 20% 80%;}

.card.lineage .objective {
    grid-area: objective;
    display: flex;
    align-items: center;
}
.card.lineage .objective::before {
    content: "";
    background: url('img/icons.png') 50% 40% no-repeat;
    background-size: 1100% 600%;
    margin-right: 2%;
    height: 65%;
    aspect-ratio: 1;
}
.card.lineage .bonus {
    grid-area: bonus;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card.lineage .leading {
    height: 9.8%;
    margin: 2% 0 1%;
    display: flex;
    align-items: center;
}
.card.lineage .leading::before {
    content: "";
    background: url('img/icons.png') 70% 0 no-repeat;
    background-size: 1100% 600%;
    aspect-ratio: 1;
    height: 70%;
    margin-right: 2%;
}
.card.lineage .leading span {
    display: block;
    background: url('img/icons.png') 0 0 no-repeat;
    background-size: 1100% 600%;
    aspect-ratio: 1;
    height: 40%;
    margin-right: 2%;
}
.card.lineage .leading.end_turn span {background-position: 80% 40%;}
.card.lineage .leading.fight span {background-position: 40% 20%;}

.card .graph {
    height: 32.25%;
    background: url("img/graphs.jpg") 0 0 no-repeat;
    background-size: 1010% 101%;
    margin-bottom: 1%;
}

/* Graphs for card list  */
.card.explore_disease .graph {background-position: 22.2% 0%;}

.card.stock .graph {background-position: 11.1% 0%;}
.card.invention_111 .graph {background-position: 55.5% 0%;}
.card.invention_110 .graph {background-position: 22.2% 0%;}
.card.hut .graph {background-position: 44.4% 0%;}
.card.center .graph {background-position: 66.6% 0%;}
.card.invention_101 .graph {background-position: 0% 0%;}
.card.invention_108 .graph {background-position: 33.3% 0%;}
.card.talus .graph {background-position: 77.7% 0%;}
.card.invention_138 .graph {background-position: 88.8% 0%;}
.card.invention_105 .graph {background-position: 100% 0%;}

.card .info {
    flex-grow: 1;
    font-style: italic;
    font-size: .9em;
    overflow-y: auto;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card .info .bold {
    text-align: center;
}
.card .info:empty {display: none}
.card .footer {
    padding-left: 12%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}
.card .footer::before {
    position: absolute;
    content: "";
    background: url(img/card-sprites.png) 87% 78.3% no-repeat;
    background-size: 5550% 2200%;
    left: 1%;
    bottom: 1%;
    width: 11%;
    height: 7%;
}
.card.verso .inner::before {
    position: absolute;
    content: "";
    background: url(img/card-sprites.png) 0 0 no-repeat;
    background-size: 700% 280%;
    width: 90%;
    aspect-ratio: 1;
    top: 20%;
    left: 5%;
}
.card.verso.invention .inner::before {
    background-size: 800% 280%;
    background-position: 22.2% 89%;
    top: 23%;
}
.card.verso.end_turn .inner::before {
    background-position: 2% 88%;
    background-size: 660% 280%;
    top: 24%;
    left: 6%;
}
.card.verso.explore .inner::before {
    background-size: 630% 270%;
    background-position: 26.35% 10%;
    top: 23%;
}
.card.verso.explore_fight .inner::before {
    background-size: 880% 300%;
    background-position: 61.3% 92%;
    top: 26%;
}
.card.verso.explore_other .inner::before {
    background-size: 880% 300%;
    background-position: 22.5% 15%;
    top: 23%;
}
.card.verso.explore_disease .inner::before {
    background-size: 820% 300%;
    background-position: 61.35% 16.5%;
    top: 21%;
}
.card.verso.spell .inner::before {
    background-size: 880% 290%;
    background-position: 41.8% 92%;
    top: 26%;
}
.card.verso.lineage .inner::before {
    background-size: 590% 230%;
    background-position: 0 5%;
    aspect-ratio: 0.9;
    top: 22%;
}
.card.verso.objective .inner::before {
    background-position: 41.7% 13%;
    background-size: 900% 300%;
    top: 24%;
}

#city-zone {

}

/******** Icons *********/
.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("img/icons.png") 0 0 no-repeat;
    background-size: 1100% 600%;
}
.icon.large {
    width: 64px;
    height: 64px;
}
.icon.small {
    width: 16px;
    height: 16px;
}
.icon.cube.warrior {background-position: 0 0;}
.icon.cube.worker {background-position: 10% 0;}
.icon.cube.mage {background-position: 20% 0;}
.icon.cube.savant {background-position: 30% 0;}
.icon.cube.all {background-position: 40% 0;}
.icon.cube.monster {background-position: 50% 0;}

.icon.cube.elven_mage {background-position: 40% 80.1%;}
.icon.cube.elven_savant {background-position: 50% 80%;}
.icon.cube.nani_warrior {background-position: 90% 80%;}
.icon.cube.nani_savant {background-position: 80% 80%;}
.icon.cube.humani_mage {background-position: 60% 80%;}
.icon.cube.humani_worker {background-position: 70% 80%;}
.icon.cube.ork_warrior {background-position: 30% 80%;}
.icon.cube.ork_worker {background-position: 20% 80%;}

.icon.cube.warrior.moved {background-position: 0 20%;}
.icon.cube.worker.moved {background-position: 10% 20%;}
.icon.cube.mage.moved {background-position: 20% 20%;}
.icon.cube.savant.moved {background-position: 30% 20%;}

.icon.cube.warrior.acted {background-position: 0 40%;}
.icon.cube.worker.acted {background-position: 10% 40%;}
.icon.cube.mage.acted {background-position: 20% 40%;}
.icon.cube.savant.acted {background-position: 30% 40%;}

.icon.cube.explore {background-position: 40% 40%;}
.icon.cube.objective {background-position: 50% 40%;}
.icon.cube.spell {background-position: 60% 40%;}
.icon.cube.invention {background-position: 70% 40%;}
.icon.cube.end_turn {background-position: 80% 40%;}

.icon.cube.fight {background-position: 40% 20%;}
.icon.cube.other {background-position: 50% 20%;}
.icon.cube.disease {background-position: 60% 20%;}
.icon.cube.nature {background-position: 70% 20%;}
.icon.cube.healing {background-position: 40% 20%;}
.icon.cube.foresight {background-position: 40% 20%;}
.icon.cube.enchant {background-position: 40% 20%;}

.icon.cube.city {background-position: 60% 0;}
.icon.cube.lineage {background-position: 100.8% 40%;}
.icon.cube.lead {background-position: 70% 0;}
.icon.cube.generate {background-position: 80% 0;}
.icon.cube.turn {background-position: 100% 0;}

.icon.cube.food {background-position: 80% 20%;}
.icon.cube.science {background-position: 100% 20%;}
.icon.cube.wood {background-position: 0% 100%;}
.icon.cube.gem {background-position: 20% 100%;}
.icon.cube.paper {background-position: 30% 100%;}
.icon.cube.metal {background-position: 40% 100%;}
.icon.cube.stone {background-position: 50% 100%;}
.icon.cube.animal {background-position: 10% 100%;}
.icon.cube.clay {background-position: 60% 100%;}
.icon.cube.medic {background-position: 60% 100%;}

.icon.cube.food_stock {background-position: 40% 100%;}
.icon.cube.science_stock {background-position: 50% 100%;}
.icon.cube.growth {background-position: 80% 100%;}
.icon.cube.power {background-position: 100% 100%;}
.icon.cube.defense_city {background-position: 0% 80%;}
.icon.cube.defense_warrior {background-position: 10% 80%;}

.icon.cube.draw {background-position: 30% 100%;}
.icon.cube.undraw {background-position: 60% 100%;}
.icon.cube.dice_fight {background-position: 0% 100%;}
.icon.cube.dice_growth {background-position: 10% 100%;}
.icon.cube.dice_explore {background-position: 20% 100%;}

/********* MAP **********/
#map-zone {
    width: 80%;
    min-width: 320px;
    margin: -8% 10% 0;
    transform: rotate(90deg);
}

@media all and (max-width: 720px) {
    #map-zone {
        max-width: 600px;
    }
}

.map-hex-grid {
    --amount: 7;
    --counter: 1
}

.map-hex-grid {
    position: relative;
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount),1fr 2fr) 1fr;
}
.map-hex-item {
    position: relative;
    height: 0;
    padding-bottom: 90%;
    grid-column: 1/span 3;
    grid-row: calc(var(--counter) + var(--counter))/span 2;
    -webkit-filter: drop-shadow(0 0 3px rgba(68,68,68,.08));
    filter: drop-shadow(0 0 0.1em rgba(68,68,68,.08));
    margin: 0.1em 0.1em;
}
.map-hex-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,25% 100%,0 50%,25% 0);
    clip-path: polygon(75% 0,100% 50%,75% 100%,25% 100%,0 50%,25% 0);
    text-decoration: none;
    text-align: center;
    transition: transform .24s ease-out;
}

.map-hex-item:nth-of-type(7n+1) {
    grid-column: 1/span 3;
}
.map-hex-item:nth-of-type(7n+2) {
    grid-column: 3/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}
.map-hex-item:nth-of-type(7n+3) {
    grid-column: 5/span 3;
}
.map-hex-item:nth-of-type(7n+4) {
    grid-column: 7/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}
.map-hex-item:nth-of-type(7n+5) {
    grid-column: 9/span 3;
}
.map-hex-item:nth-of-type(7n+6) {
    grid-column: 11/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}
.map-hex-item:nth-of-type(7n+7) {
    grid-column: 13/span 3;
}

.map-hex-item:nth-of-type(n+8) {
    --counter: 2
}
.map-hex-item:nth-of-type(n+15) {
    --counter: 3
}
.map-hex-item:nth-of-type(n+22) {
    --counter: 4
}
.map-hex-item:nth-of-type(n+29) {
    --counter: 5
}
.map-hex-item:nth-of-type(n+36) {
    --counter: 6
}
.map-hex-item:nth-of-type(n+43) {
    --counter: 7
}

.tile {
    background: url('img/tile_sprites.png') no-repeat center #ece3cf;
    background-size: 70%;
    cursor: not-allowed;
}
.tile.tile_reveal {
    background: none;
}
.tile.explorable {
    cursor: pointer;
}
.tile.tile_reveal .map-dist-bg {
    display: none;
}
.tile.tile_disabled {display: none;}
.tile.tile_reveal.tile_town {background-color: brown;}
.tile.tile_reveal.tile_forest {background-color: forestgreen;}
.tile.tile_reveal.tile_mountain {background-color: grey;}
.tile.tile_reveal.tile_plain {background-color: mediumseagreen;}
.tile.tile_reveal.tile_desert {background-color: sandybrown;}
.tile.tile_reveal.tile_swamp {background-color: steelblue;}
.tile.tile_reveal.tile_hill {background-color: seagreen;}

.tile .map-dist-bg {
    position: absolute;
    top: calc(50% - 5%);
    left: 0.3em;
    width: 10%;
    height: 10%;
    background: #f6f2e9;
    transform: rotate(-135deg);
}
.tile .map-dist-bg label {
    display: inline-block;
    font-size: .75vw;
    color: #333;
    transform: rotate(45deg);
}
.tile .map-dist-bg label::before {
    content: attr(data-dist);
}

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




